body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* 調整寬度 */
    text-align: center;
    margin: 20px; /* 增加 margin */
}

.register-container h2 {
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#returnButton {
   background-color: #d9534f;
   color: white;
   padding: 12px 24px; 
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-left: auto;
   position: absolute;
   top: 10px;
   left: 10px;
 }

